.main5{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;


}
.contact{
    background: linear-gradient(270deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;



    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px -3px 3px 0px rgba(4,3,3,1);
    -webkit-box-shadow: 0px -3px 3px 0px rgba(4,3,3,1);
    -moz-box-shadow: 0px -3px 3px 0px rgba(4,3,3,1);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
form input{
    width:13rem;
    height: 2.4rem;
    padding: 15px 15px 15px;
    outline: none;
    border: none;
    margin-left: 0rem;
    border-radius: 5px;

}
.main5 textarea{
    width:27rem;
    margin-top: 0.7rem;
    padding: 5px;
    outline: none;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    /* border-bottom-right-radius: 4px; */
    border: none;

}
form{
    width: 100%;

}
form button{
    padding:0.5rem;
    margin-bottom: 1rem;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: x-large;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
.contact h3{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
.contact p {
    font-family: 'Crete Round', serif;
    margin-bottom: 1rem;
    font-size: large;
}
.footer{
    font-weight: bold;
    font-size: large;
    color: white;
    margin: 2rem 0 1.3rem 0 ;
}
.footer span{
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -webkit-background-clip: text;
    background-clip: text;
 -webkit-text-fill-color: transparent;
 font-family: 'Lobster', cursive;
 font-size: x-large;
}
@media screen and (orientation:portrait) {
    .contact{
        width:87%;
    }
    .main5 textarea{
        width:100%;
        margin-top: -1.4rem;
    }
    form input{
        display: block;
        margin-bottom: 0.3rem;
        width: 100%;
    }
    .contact h3{
        font-size:2rem;
    }
}
.top{
    background-color:  rgb(116, 6, 206);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}